# This is an example YAML settings file for pyanimenc.

{
  "vid_track": [0, "jpn"], # Video tracks
  "aud_tracks": [[1, "jpn"]], # Audio tracks
  "sub_tracks": [[2, "eng"], [3, "eng"]], # Subtitle tracks
  "audio":
    {
      "enc": true, # Whether to encode audio
      "quality": 4, # 1-5
      "container": "aac" # mp4 or aac
    },
  "video":
    {
      "enc": true, # Whether to encode video
      "bit_depth": 10, # 8 or 10
      "crf": 15, # 1-51
      "preset": "slow", # See x264 presets
      "tune": "animation", # See x264 tunings
      "crop": [0, 0, 0, 0], # left, right, top, bottom
      "resize": [1280, 720], # width, height
      "deband": "medium/nograin" # See f3kdb presets
    }
}
