[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=pyanimenc
Comment=Audio/Video Transcoding Frontend
Exec=pyanimenc
Icon=pyanimenc
Terminal=false
StartupNotify=false
Categories=AudioVideo;
