[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=pyhenkan
Comment=Audio/Video Transcoding Frontend
Exec=pyhenkan
Icon=pyhenkan
Terminal=false
StartupNotify=false
Categories=AudioVideo;
